Include /etc/ssh/sshd_config.d/*.conf

AddressFamily inet
ListenAddress {{ ssh.host }}
Port {{ ssh.port }}

UsePAM yes
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
MaxAuthTries 3
MaxSessions 3
MaxStartups 5

DisableForwarding yes
PrintMotd no
PrintLastLog no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
